body {
    font-family:  Arial,Helvetica,sans-serif;
    font-size: 16px;
    text-align: center;
}
a {
    text-decoration: none;
}
h1{
    font-size: 14px;
    color: #B1B1B1;
}
h1 a{
    color: #B1B1B1;
}
input[type="text"], select {
     font-size: 16px;
}
#error-message-holder{
    height: 20px;
    padding: 2px;
}
#error-message{
    background-color: #FDD017;
    border: 1px solid #E5E5E5;
}

#demo-box{
    position: absolute;
    top: 0px;
    right: 0px;
}
.header {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.logo{
    max-width: 300px;
    width: 100%;
}
.logo img{
    max-width: 300px;
    width: 100%;
}



.header-line{
    margin-bottom: 20px;
    background: transparent url("/Content/Images/header_bgr.png") repeat scroll left top;
    height:21px;
}

#drop-file {
    border: 4px dashed #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.drag-picture {
    font-size: 32px;
    color: #C5C5C5;
    margin-bottom: 10px;
}

.drag-picture-img{
    height: 200px;
}

.select-picture {
    font-size: 20px;
    color: #C5C5C5;
    margin-bottom: 20px;
    margin-top: 20px;
}


#fileUpload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.btn {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    font-size: 16px;
}
.btn:hover {
    background-color: #458dcd;
}

.disable{
    background-color: #458dcd;
    color: #989595;
    cursor: default;
}

.settings-left {
    min-width: 80px;
    width: 31%;
    display: inline-block;
    vertical-align: top;
}

/*
.settings-left-text {
    width: 78%;
    display: inline-block;
}
*/
.settings-right {
    display: inline-block;
    width: 66%;
}

.settings-right-add {
    width: 20%;
    display: inline-block;
    text-align: right;
}

.settings-ctl {
    width: 100%;
}

#text-templates-dialog {
    padding: 0.5em;
}

#text-gallery-list {
    width: 100%;
}

#text-templates-holder {
    height: 320px;
    max-height: 320px;
    overflow: auto;
    padding-right: 2%;
}

#text-gallery {
    overflow: hidden;
}

#text-gallery div {
    position: relative;
    border: 1px solid #C5C5C5;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1px;
    height: 100px;
    cursor: pointer;
    background: #FFFFFF none repeat scroll 0% 0%;
}

#text-gallery div:hover {
    border: 1px solid #0F00C0;
}

#text-gallery img {
position: absolute;
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        right: 0px;
        top: 0px;
        bottom: 0px;
        left: 0px;
    }

#text-gallery .text-template-item-selected {
    border: 1px solid #000000;
}


#clipart-template-dialog {
    padding: 0.5em;
}

#clipart-gallery-list {
    width: 100%;
}

#clipart-templates-holder {
    height: 320px;
    max-height: 320px;
    overflow: auto;
    padding-right: 2%;
}

#clipart-gallery {
    overflow: hidden;
}

#clipart-gallery div {
        position: relative;
        border: 1px solid #C5C5C5;
        margin: 2px;
        padding: 1px;
        height: 100px;
        width: 30%;
        cursor: pointer;
        background: #FFFFFF none repeat scroll 0% 0%;
        display: inline-block;
    }

#clipart-gallery div:hover {
    border: 1px solid #0F00C0;
}

#clipart-gallery img {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        right: 0px;
        top: 0px;
        bottom: 0px;
        left: 0px;
    }



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.settings {
    display: inline-block;
    text-align: left;
    border: 1px solid #85B6E0;
    background: #C8E0C2 none repeat scroll 0% 0%;
    height: 100%;
    border-radius: 3px;
}

.settings > div {
    padding: 10px;
}

#image-main {
    display: inline-block;
    vertical-align: top;
}


#samples-holder {
    border: 1px solid #ccc;
    text-align: center;
    padding-bottom: 10px;
}

.select-picture-gallery {
    color: #c5c5c5;
    font-size: 20px;
    margin: 10px;
}

.sample > div {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 2px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
}

.sample-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

.sample-item-img {
    height: auto;
    max-width: 100%;
}


.footer{
    min-height: 22px;
    background: #F2F2F2 none repeat scroll 0% 0%;
    margin: 30px 0px 30px 0px;
}
.footer a{
    color: #818181;
}
.footer div{
    padding:3px;
    color: #A1A1A1;
}

.xui-dialog .ui-widget-header {
    border: 1px solid #2e6da4;
    background: #458dcd;
    color: #ccc;
    font-weight: bold;
}
.xui-dialog .ui-button {
    background: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 32px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
}
.xui-dialog .ui-button:hover {
    background: #458dcd;
}
.xui-dialog .ui-dialog-titlebar-close {
  display: none;
}

@media (max-width: 480px) {
    #image-main {
       width: 100%;
       margin-top: 20px;
    }
    .settings {
        width: 100%;
        margin: 0px;
    }
}

@media (min-width: 481px) {
    .sample {
        width: 49%;
        display: inline-block;
    }

    #image-main {
       width: 100%;
       margin-top: 20px;
    }
    .settings {
        width: 100%;
        margin: 0px;
    }
}

@media (min-width: 600px) {
    .sample {
        width: 49%;
        display: inline-block;
    }

    #image-main {
        width: 53%;
        margin: 0px;
    }

    .settings {
        width: 42%;
        margin-right: 2%;
    }
}

@media (min-width: 800px) {
    .container {
        width: 740px;
    }

    .logo{
        float: left;
    }

    .title {
        padding-top: 1px;
    }

    h1{
        font-size: 20px;
        color: #B1B1B1;
    }
    .sample {
        width: 24%;
        display: inline-block;
    }

    #image-main {
        width: 67%;
        margin: 0px;
    }

    .settings {
        width: 30%;
        margin-right: 2%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 970px;
    }
    #image-main {
        margin: 0px;
    }
}
